@model Setting
@{
    ViewData["Title"] = "Setting";
}

<div class="pagetitle">
    <h1>Setting Data</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="dashboard" asp-action="index">Dashboard</a></li>
            <li class="breadcrumb-item"><a asp-controller="setting" asp-action="index">Settings</a></li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section">
    <div class="row">

        <div class="col-lg-12">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Setting</h5>

                    <!-- Custom Styled Validation -->
                    <form class="row g-3 needs-validation" method="post" asp-action="submit">
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Adress</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationCustomUsername"
                                       aria-describedby="inputGroupPrepend" asp-for="Adress">
                                <span class="invalid-feedback" style="display:block" asp-validation-for="Adress">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Email</label>
                            <div class="input-group has-validation">
                                <input class="form-control" id="validationCustomUsername"
                                       aria-describedby="inputGroupPrepend" asp-for="Email">
                                <span class="invalid-feedback" style="display:block" asp-validation-for="Email">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Text</label>
                            <div class="input-group has-validation">
                                <textarea type="text" class="form-control" id="validationCustomUsername"
                                       aria-describedby="inputGroupPrepend" asp-for="Text" rows="7"></textarea>
                                <span class="invalid-feedback" style="display:block" asp-validation-for="Text">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Phone</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationCustomUsername"
                                       aria-describedby="inputGroupPrepend" asp-for="Phone">
                                <span class="invalid-feedback" style="display:block" asp-validation-for="Phone">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Facebook</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationCustomUsername"
                                       aria-describedby="inputGroupPrepend" asp-for="Facebook">
                                <span class="invalid-feedback" style="display:block" asp-validation-for="Facebook">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Linkedin</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationCustomUsername"
                                       aria-describedby="inputGroupPrepend" asp-for="Linkedin">
                                <span class="invalid-feedback" style="display:block" asp-validation-for="Linkedin">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Twitter</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationCustomUsername"
                                       aria-describedby="inputGroupPrepend" asp-for="Twitter">
                                <span class="invalid-feedback" style="display:block" asp-validation-for="Twitter">
                                </span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <label for="validationCustomUsername" class="form-label">Instagram</label>
                            <div class="input-group has-validation">
                                <input type="text" class="form-control" id="validationCustomUsername"
                                       aria-describedby="inputGroupPrepend" asp-for="Instagram">
                                <span class="invalid-feedback" style="display:block" asp-validation-for="Instagram">
                                </span>
                            </div>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </form><!-- End Custom Styled Validation -->
                </div>
            </div>
        </div>
    </div>
</section>

